module {{modulePath}}

go 1.26

toolchain go1.26.5

require (
{{- if .UsesBrowserHTTPTransport}}
	github.com/enetx/surf v1.0.199
{{- end}}
{{- if eq .Auth.Subtype "auth0_spa_in_memory"}}
	github.com/chromedp/cdproto v0.0.0-20260321001828-e3e3800016bc
	github.com/chromedp/chromedp v0.15.1
{{- end}}
{{- if or (eq .Auth.Type "cookie") (eq .Auth.Type "composed") .Streaming.Enabled}}
	github.com/gorilla/websocket v1.5.3
{{- end}}
	github.com/spf13/cobra v1.9.1
{{- if .HasHTMLExtraction}}
	golang.org/x/net v0.55.0
{{- end}}
{{- if eq .Config.Format "toml"}}
	github.com/pelletier/go-toml/v2 v2.2.4
{{- end}}
)

{{- if .VisionSet.Store}}
require modernc.org/sqlite v1.37.0
{{- end}}

{{- if .VisionSet.MCP}}
require github.com/mark3labs/mcp-go v0.47.0
{{- end}}
